/* styles.css */

.checkout-container, .confirmation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.confirmation-content, .checkout-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.confirmation-content h1, .checkout-container h1 {
  color: #1b006e;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.confirmation-content h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.confirmation-content ul {
  list-style-type: none;
  padding: 0;
}

.confirmation-content ul li, .checkout-container ul li {
  margin: 10px 0;
}

.confirmation-content .status-success {
  color: #05004b;
}

.confirmation-content .status-failed {
  color: #f44336;
}

.confirmation-content button, .checkout-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #05004b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: #f44336;
  margin-top: 10px;
}
